<h1>My Discounts</h1>
<% @merchant.discounts.each_with_index do |discount, index| %>
  <section id="discount-<%= discount.id %>">
    <h3><%= index + 1 %>. <%= link_to "Discount ID: #{discount.id}", "/merchant/discounts/#{discount.id}" %></h3>
      <%= discount.percentage %>% off <%= discount.item_count %> or more items.
     This discount is <b><%= discount.status %></b>.
    <% if discount.active? %>
      <%= link_to "Deactivate", "/merchant/discounts/#{discount.id}?active=false", method: :patch %>
    <% else %>
      <%= link_to "Activate", "/merchant/discounts/#{discount.id}?active=true", method: :patch %>
    <% end %>
  </section>
<% end %>
<p><%= link_to 'Add Discount', '/merchant/discounts/new' %>
