<h1>Discount <%= @discount.id %></h1>
<p>Discount: <%= @discount.percentage %> percent
<p>Minimum Items: <%= @discount.item_count %>
<p>Discount Status: <%= @discount.status %>
<p>Created: <%= @discount.created_at %>
<p>Last Updated: <%= @discount.updated_at %>
<p><%= link_to "Edit Discount", "/merchant/discounts/#{@discount.id}/edit" %>
<p><%= link_to "Delete Discount", "/merchant/discounts/#{@discount.id}/delete", method: :destroy %>
